<section class="main">
  <div class="main__container container">
    <div class="autoplay wow animate__animated animate__fadeInRight">
      <div class="slide">
        <img src="assets/images/img.png" alt="" width=100%>
      </div>
      <div class="slide">
        <img src="assets/images/img_1.png" alt="" width=100%>
      </div>
      <div class="slide">
        <img src="assets/images/img_2.png" alt="" width=100%>
      </div>
    </div>
    <div class="main__container-answers pb-5 wow animate__animated animate__fadeInRight">
      <div class="row justify-content-center">
        <div class="accordion col-md-11 col-xl-8 col-12" id="accordionExample">
          <h2 class="text-center mb-5 mt-5 fw-bold">Ответы на часто задаваемые вопросы</h2>
          <div id="accordion">
            <h3>Собираете ли вы подарочные боксы?</h3>
            <div>
              <p>
                Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
                стоимость!
              </p>
            </div>
            <h3>Сколько у вас разновидностей чая?</h3>
            <div>
              <p>
                Более 1500 видов чая, и каждый из них имеет свои особенности в процессе
                производства, вкусе и цвете.
              </p>
            </div>
            <h3>В какой срок осуществляется доставка?</h3>
            <div>
              <p>
                Перевозчик осуществляет доставку груза в срок, установленный договором перевозки
                груза.
                В случае если в договоре перевозки груза сроки не установлены, доставка груза
                осуществляется:
                В городском или пригородном сообщении — в суточный срок.
                В междугородном или международном сообщении — из расчёта одни сутки на каждые 300
                километров расстояния перевозки.
              </p>
            </div>
            <h3>У вас обновляется ассортимент?</h3>
            <div>
              <p>
                Мы ежедневно обновляем ассортимент наших товаров, добавляем актуальные и
                востребованные модели. ... Помогаем во время закупки, рассказываем все детали и
                нюансы по ассортименту.
              </p>
            </div>
            <h3>Какого объема у вас пачки чая?</h3>
            <div>
              <p>
                В продаже появились так называемые "Эконом" упаковки или "Подарочные" на которых
                пишут: - 20 пакетиков чая + 5 пакетиков бесплатно. Существую еще варианты упаковки
                чая в пачку по 40 и по 100 пакетиков. Но по 100 пакетиков чай в пачки уже не пакуют,
                а выбирают для них всевозможные красивые металлические или пластиковые коробки.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none container" id="order-block-none">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-7 text-center">
        <h2 class="fw-bold p-5 text-primary">Спасибо за заказ. Мы свяжемся с вами в ближайшее время!</h2>
      </div>
    </div>
  </div>
</section>
