

.autoplay {
  padding: 48px 0;
}

.slick-prev,
.slick-next {
  outline: none !important;
  background: white !important;
}

.slick-prev,{
  &:before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 20 18' fill='%23076BFF'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
  }
}

.slick-next {
  &:before {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -1 20 18' fill='%23076BFF'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
  }
}

.slick-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  right: 1%;
  border: 1px solid #076BFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -1 20 18' fill='%23076BFF'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
}

.slick-prev {
  font-size: 0;
  position: absolute;
  top: 50%; left: 1%;
  border: 1px solid #076BFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 20 18' fill='%23076BFF'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
  z-index: 1;
}

/* Перебиваем дефолтный hover/focus от slick */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: white !important;
  outline: none !important;
}

.slick-prev:hover,
.slick-prev:focus, {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-1 -1 20 18' fill='%23076BFF'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
}

.ui-accordion .ui-accordion-header {
  margin: 0 0 16px 0;
  padding: 25px 0 25px 23px;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.ui-corner-all, .ui-state-hover {
  border-radius: 10px;
  background: linear-gradient(0.00deg, rgb(7, 107, 255),rgb(0, 123, 255) 100%);
  color: white;
}

.ui-state-active {
  border-radius: 10px;
}

.ui-accordion-content-active {
  text-align: center;
}

.ui-helper-reset {
  border: none;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
}

.arrow-up {
  position: absolute;
  right: 5%; top: 33%;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/arrowUp.png")!important;
  margin: 0;
}

.arrow-down {
  position: absolute;
  right: 5%; top: 33%;
  width: 24px;
  height: 24px;
  background-image: url("/assets/images/arrowDown.png")!important;
  margin: 0;
}

.white-popup {
  position: relative;
  background: rgb(7, 107, 255);
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 10px;
  border: 3px solid white;
  color: white;
  text-align: center;
}

.mfp-close {
  color: white;
}

#request {
  margin-left: 8px;
}
