<header class="header">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid align-items-baseline">
      <a class="navbar-brand" routerLink="">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" fragment="header">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/catalog" >Каталог</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Поиск чая" aria-label="Search">
          <button class="btn btn-lg btn-outline-primary hvr-pulse hvr-float-shadow" style="--bs-btn-padding-y: 0.5rem;
                            --bs-btn-padding-x: 1.6875rem; --bs-btn-font-size: .8366rem;" type="submit">Найти
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer>
  <nav class="navbar navbar-expand-lg bg-body-tertiary mt-auto">
    <div class="container-fluid align-items-baseline">
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <p class="pt-3 text-muted">Все права защищены</p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
